img.brain(src="/assets/images/brain.svg")

.button-container
  a.button-circle.hvr-grow(href="{{apiUrl}}/auth/spotify")
    h1 Login with
    .spotify-icon
      img(src="/assets/images/spotify.svg")
