.container
  .row
    .one.column
    .eleven.columns
      .guess-container(*ngIf="guess")
        div.artist
          div.word-container(*ngFor='let guessWord of guess.artist')
            span(*ngIf="guessWord.correct") {{ guessWord.word }}
            span(*ngIf="!guessWord.correct")
              span(*ngFor="let char of guessWord.word.split('')") _

        div
          div.word-container(*ngFor='let guessWord of guess.title')
            span(*ngIf="guessWord.correct") {{ guessWord.word }}
            span(*ngIf="!guessWord.correct")
              span(*ngFor="let char of guessWord.word.split('')") _

      .guess-input
        form.d-flex.justify-content-center(
          [formGroup]="guessAttemptForm",
          (ngSubmit)='matchGuessInput()'
        )
          mat-form-field
            input(
              matInput
              formControlName="currentGuess",
            )

      .icon-container
        mat-icon.wrong([class.flashed]="flashRedBool==true") clear
        mat-icon.correct([class.flashed]="flashGreenBool==true")  done

      div
        countdown#countdown(
          [config]="countdownConfig",
          (finished)="onFinished()"
        )

router-outlet
