/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

// Skeleton imports
@import url('./styles/normalize.css');
@import url('./styles/skeleton.css');
@import "hover.css/scss/hover.scss";
@import url('./styles/variables.scss');


@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}
